<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="images/CWLogo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script
      src="https://kit.fontawesome.com/2a50566d3f.js"
      crossorigin="anonymous"
    ></script>
    <title>After School Activities</title>
  </head>
  <body>
    <div id="app">
      <header
        class="flex items-center p-4 justify-between mx-auto fixed top-0 w-full bg-white z-10 shadow-md"
      >
        <div class="logo flex gap-2 items-center">
          <span class="min-w-fit"> After School Activities</span>
        </div>

        <div class="search-box border-2 flex">
          <input
            type="search"
            v-model="searchQuery"
            placeholder="Search Lessions & Locations"
            class="p-2 w-3xs"
          />
        </div>

        <div class="cart hidden" v-if="cart.length <= 0"></div>
        <div class="cart" v-else @click="showCart = true">
          Checkout ({{ cart.length }})
        </div>
      </header>
      <div class="pt-24 mx-auto px-4">
        <div class="flex justify-between items-center">
          <p
            class="underline underline-offset-4 decoration-[8px] text-4xl max-w-[90%]"
          >
            Lessons
          </p>
          <div class="filters">
            <i class="fa-solid fa-filter"></i>
            <select v-model="sortAttribute">
              <option value="">Sort By</option>
              <option value="LessonName">Subject</option>
              <option value="Location">Location</option>
              <option value="Price">Price</option>
              <option value="Space">Availability</option>
            </select>
            <select v-model="sortOrder" class="p-2">
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>
          </div>
        </div>
        <div
          class="products-grid flex flex-wrap gap-4 items-center justify-center pt-4"
        >
          <div v-if="sortedProducts.length === 0" class="no-results">
            <p class="text-xl font-semibold text-red-500">
              No lessons found. Try searching for another activity or location.
            </p>
          </div>
          <div
            v-for="product in sortedProducts"
            :key="product.id"
            class="product-item border-2 p-2"
          >
            <div class="card-section">
              <img
                class="object-cover w-64 h-64 mx-auto"
                v-bind:src="'images/' + product.LessonImage"
              />
              <h2 v-text="product.LessonName" class="text-2xl text-center"></h2>
            </div>
            <div class="reviews-container flex justify-center">
              <span v-for="n in product.Rating"
                ><i class="fa-solid fa-star"></i
              ></span>
              <span v-for="n in 5 - product.Rating"
                ><i class="fa-regular fa-star"></i
              ></span>
            </div>
            <p>
              <span class="font-bold">Location: </span>{{ product.Location }}
            </p>
            <p>
              <span class="font-bold">Available Items:</span> {{ product.Space
              }}
            </p>
            <p>
              <span class="font-bold"> Price: </span>{{ product.Price }} AED
            </p>

            <div class="card-section-2">
              <button
                class="addToCart border-2 p-2 hover:bg-black hover:text-white cursor-pointer"
                v-on:click="addToCart(product)"
                v-if="canAddToCart(product)"
              >
                Add to cart
              </button>
              <button class="addToCart border-2 p-2" disabled v-else>
                Add to cart
              </button>

              <span v-if="product.Space <= 0">Bookings Full</span>
              <span v-else-if="product.Space < 5"
                >Only {{ product.Space }} left!</span
              >
              <span v-if="product.space< 5" class="text-red-700">Buy Now!</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          cart: [],
          searchQuery: "",
          selectedLocation: "",
          selectedRating: "",
          selectedPrice: "",
          sortAttribute: "",
          sortOrder: "asc",
          products: [
            {
              id: 1,
              LessonName: "Pottery",
              LessonImage: "Pottery.png",
              Rating: 4,
              Price: 20,
              Space: 10,
              Location: "Dubai",
            },
            {
              id: 2,
              LessonName: "Piano",
              LessonImage: "Piano.jpg",
              Rating: 5,
              Price: 30,
              Space: 5,
              Location: "Abu Dhabi",
            },
            {
              id: 3,
              LessonName: "Cricket",
              LessonImage: "Cricket.jpg",
              Rating: 3,
              Price: 25,
              Space: 8,
              Location: "Sharjah",
            },
            {
              id: 4,
              LessonName: "Swimming",
              LessonImage: "Swimming.jpg",
              Rating: 4,
              Price: 15,
              Space: 12,
              Location: "Ajman",
            },
            {
              id: 5,
              LessonName: "Coding",
              LessonImage: "Coding.jpg",
              Rating: 5,
              Price: 40,
              Space: 7,
              Location: "Fujairah",
            },
            {
              id: 6,
              LessonName: "Yoga",
              LessonImage: "Yoga.jpg",
              Rating: 4,
              Price: 10,
              Space: 20,
              Location: "Ras Al Khaimah",
            },
            {
              id: 7,
              LessonName: "Gardening",
              LessonImage: "Gardening.jpg",
              Rating: 3,
              Price: 18,
              Space: 9,
              Location: "Umm Al Quwain",
            },
            {
              id: 8,
              LessonName: "Karate",
              LessonImage: "Karate.jpg",
              Rating: 4,
              Price: 22,
              Space: 6,
              Location: "Dubai",
            },
            {
              id: 9,
              LessonName: "Painting",
              LessonImage: "Painting.jpg",
              Rating: 5,
              Price: 35,
              Space: 15,
              Location: "Abu Dhabi",
            },
            {
              id: 10,
              LessonName: "Dancing",
              LessonImage: "Dance.jpg",
              Rating: 4,
              Price: 28,
              Space: 11,
              Location: "Sharjah",
            },
          ],
        },
        computed: {
          uniqueLocations() {
            return [
              ...new Set(this.products.map((product) => product.Location)),
            ];
          },
          filteredProducts() {
            return this.products.filter(
              (product) =>
                product.LessonName.toLowerCase().includes(
                  this.searchQuery.toLowerCase()
                ) ||
                product.Location.toLowerCase().includes(
                  this.searchQuery.toLowerCase()
                )
            );
          },
          sortedProducts() {
            let products = [...this.filteredProducts];
            if (this.sortAttribute) {
              products.sort((a, b) => {
                let valueA = a[this.sortAttribute];
                let valueB = b[this.sortAttribute];
                if (typeof valueA === "string") {
                  valueA = valueA.toLowerCase();
                  valueB = valueB.toLowerCase();
                }
                return this.sortOrder === "asc"
                  ? valueA > valueB
                    ? 1
                    : -1
                  : valueA < valueB
                  ? 1
                  : -1;
              });
            }
            return products;
          },
        },
        methods: {
          addToCart(product) {
            if (product.Space > 0) {
              product.Space--;
              this.cart.push(product);
            }
          },
          canAddToCart(product) {
            return product.Space > 0;
          },
          clearSearch() {
            this.searchQuery = "";
            this.selectedLocation = "";
            this.selectedRating = "";
            this.selectedPrice = "";
            this.sortAttribute = "";
            this.sortOrder = "asc";
          },
        },
      });
    </script>
  </body>
</html>
